@import "src/variables";

#cancelButton {
  float: right;
  z-index: 4;
}

#listForm {
  position: relative;
  max-width: calc(100% - 24px);
}

.sortDownButton {
  float: right;
}

.sortUpButton {
  float: left;
}
