@import "src/variables.scss";

h1 {
  margin: 8px;
}

#listContainer {
  margin: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  app-list-card,
  #newListCard {
    padding: 5px;
    margin: 4px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: $menu-bg;
    border: 1px solid $slogan-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .selected {
    background-color: $slogan-color;
  }

  #newListCard {
    align-items: center;

    mat-icon {
      $icon-size: 50px;
      color: $slogan-color;
      font-size: $icon-size;
      height: $icon-size;
      width: $icon-size;
    }
  }

  #noListsIndicator {
    height: 100px;
    padding: 5px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2,
    h3 {
      color: $slogan-color;
    }
  }
}
