<h1>Lists</h1>
<div id="listContainer">
  <app-list-card (click)="select(index)"
                 *ngFor="let list of lists; let index = index"
                 [class.selected]="index === selectedList"
                 [list]="list"
                 [selected]="index === selectedList"
                 class="button"></app-list-card>
  <div (click)="openNewListMenu()"
       class="button"
       id="newListCard">
    <mat-icon>add</mat-icon>
  </div>
  <div *ngIf="lists.length === 0"
       id="noListsIndicator">
    <h2>You don't have any lists yet</h2>
    <h3>← you can press here to add a list</h3>
  </div>
</div>
