@import "src/variables";

.imageParam {
  display: flex;
  justify-content: center;
  padding: 0;
  height: $height-compact;

  .imgDiv {
    background-color: $slogan-color;
    border-radius: 5px;
    height: $height-compact * 0.8;
    width: $height-compact * 0.8;
  }
}

.imageParam.expanded {
  height: $height-expanded;

  .imgDiv {
    width: 100px;
    height: 100px;
  }
}
