<h1 id="listTitle">{{list.title}}</h1>
<div id="configButton">Configure list</div>

<table (matSortChange)="sortData($event)"
       id="todoList"
       matSort>
  <thead>
  <tr>
    <th class="oddCol CheckboxColumn"
        mat-sort-header="Done">
      Done
    </th>
    <th *ngFor="let param of list.parameters; let oddCol = odd; let evenCol = even;"
        [class]="param.type+'Column'"
        [mat-sort-header]="param.name"
        [ngClass]="{oddCol: oddCol, evenCol: evenCol}">{{param.name}}</th>
  </tr>
  </thead>
  <tbody cdkScrollable>
  <tr *ngFor="let item of sortedList; let oddRow = odd; let evenRow = even; let itemIndex = index;"
      [ngClass]="{oddRow:oddRow,evenRow:evenRow}">
    <td class="oddCol checkboxParam">
      <label>
        <input (change)="checkDone(itemIndex, $event)"
               [checked]="item.done.value" type="checkbox">
      </label>
    </td>
    <td *ngFor="let param of item.parameters; let oddCol = odd; let evenCol = even; let paramIndex = index;"
        [ngClass]="{oddCol: oddCol, evenCol: evenCol, hmm: param.type}">
      <div *ngIf="param.type === 'Checkbox'"
           class="checkboxParam">
        <label>
          <input (change)="checkCheckbox(itemIndex, paramIndex, $event)"
                 [checked]="param.value" type="checkbox">
        </label>
      </div>
      <div *ngIf="param.type === 'Image'"
           class="imageParam">
        <div class="imgDiv"></div>
      </div>
      <div *ngIf="param.type === 'Text'"
           class="textParam">param.value
      </div>
      <div *ngIf="param.type === 'Title'"
           class="titleParam">{{param.value}}
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th [attr.colspan]="list.parameters.length + 1">
      <div>+ New item</div>
    </th>
  </tr>
  </tfoot>
</table>
