@import "src/variables";

#listTitle {
  float: left;
  display: block;
  margin: 7px;
  max-width: 30%;
}

#configButton {
  background-color: $button-bg;
}

#compactToggle {
  background-color: $menu-bg;
  color: $slogan-color;
}

#compactToggle.compact {
  background-color: $button-bg;
  color: $logo-color;
}

.listButton {
  border-radius: 10px;
  float: right;
  position: relative;
  z-index: 99;
  right: 0;
  font-weight: bold;
  margin: 10px;
  padding: 3px;
  text-align: center;
  width: 125px;
}

#todoList {
  margin: 10px;
  border-collapse: collapse;
  width: calc(100% - 20px);

  * {
    padding: 2px;
  }

  thead {
    background-color: $slogan-color;

    .CheckboxColumn {
      width: 100px;
    }

    .ImageColumn {
      width: 110px;
    }

    #trashCol {
      width: 25px;
      max-width: 25px;
    }
  }

  tbody {

    tr {

      app-param-cell {
        height: $height-compact;
      }

      app-param-cell.expanded {
        height: $height-expanded;
      }

      .checkboxParam {
        text-align: center;

        .checkboxContainer {
          display: flex;
          justify-content: center;
        }
      }

      .trashCell {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
      }

      .trashCell.expanded {
        height: 110px;
      }

      .imageParam {
        display: flex;
        justify-content: center;
        padding: 0;
        height: 80%;

        .imgDiv {
          background-color: $slogan-color;
          border-radius: 5px;
          height: 80%;
        }
      }

      .imageParam.expanded {
        height: 110px;

        .imgDiv {
          width: 100px;
          height: 100px;
        }
      }

      .TextParam {
        height: 100%;
      }

      .TextParam.expanded {
        height: 108px;
      }
    }

    .evenDone,
    .oddDone {
      color: #161;

      .imageParam {
        .imgDiv {
          background-color: #59B359;
        }
      }

      * {
        color: #116611;
      }
    }

    .evenRow.done {
      background-color: #8f87;
    }

    .oddRow.done {
      background-color: #6e67;
    }
  }

  tfoot {
    th {
      height: 24px;
      position: relative;

      div {
        position: absolute;
        top: 3px;
        left: calc(50% - 75px);
        background-color: $button-bg;
        width: 150px;
        border-radius: 10px;
      }
    }
  }

}

.oddCol,
.oddRow {
  background-color: $odd-bg;
}

.evenCol,
.evenRow {
  background-color: $even-bg;
}
