<h1 id="listTitle">{{list.title}}</h1>

<div (click)="openListConfig()"
     class="listButton button"
     id="configButton">Configure list
</div>
<div (click)="toggleCompactMode()"
     [class.compact]="compactMode"
     class="listButton button"
     id="compactToggle">Compact mode
</div>

<table (matSortChange)="sortData($event)"
       id="todoList"
       matSort>
  <thead>
  <tr>
    <th class="oddCol CheckboxColumn"
        mat-sort-header="Done">
      Done
    </th>
    <th *ngFor="let param of list.parameters; let oddCol = odd; let evenCol = even;"
        [class]="param.type+'Column'"
        [mat-sort-header]="param.name"
        [ngClass]="{oddCol: oddCol, evenCol: evenCol}">{{param.name}}</th>
    <th [ngClass]="{oddCol: list.parameters % 2 == 1, evenCol: list.parameters % 2 == 0}"
        id="trashCol">
    </th>
  </tr>
  </thead>
  <tbody> <!--TODO: make scrollable-->
  <tr *ngFor="let item of sortedList; let oddRow = odd; let evenRow = even; let itemIndex = index;"
      [ngClass]="{oddRow: oddRow, evenRow: evenRow, done: item.done.value}">
    <td class="oddCol checkboxParam">
      <div class="checkboxContainer">
        <app-checkbox (checkboxToggled)="toggleDone(item)"
                      [compactMode]="compactMode"
                      [param]="item.done.value"></app-checkbox>
      </div>
    </td>
    <td *ngFor="let param of item.parameters; let oddCol = odd; let evenCol = even; let paramIndex = index;"
        [class]="param.type+'Param'"
        [ngClass]="{oddCol: oddCol, evenCol: evenCol}">
      <app-param-cell (checkboxToggled)="toggleCheckbox($event)"
                      [compactMode]="compactMode"
                      [param]="param"></app-param-cell>
    </td>
    <td [class.expanded]="!compactMode"
        [ngClass]="{oddCol: (list.parameters % 2 == 1), evenCol: (list.parameters % 2 == 0)}"
        class="trashCell"> <!--TODO: fix color-->
      <mat-icon>delete</mat-icon>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th [attr.colspan]="list.parameters.length + 1">
      <div (click)="addItem()" class="button">+ New item</div>
    </th>
  </tr>
  </tfoot>
</table>
