<button id="overlayToggle" (click)="toggleOverlay()" hidden>O</button>
<div id="overlay" [@toggleOverlay]="showOverlay" [class.overlay]="showOverlay" [class.blur]="showOverlay">
  <div id="header">
    <div id="topContainer">
      <div id="logo">{{name}}</div>
      <div id="slogan" *ngIf="windowWidth >= 350">Leader in customizable to do lists</div>
    </div>
  </div>
  <div id="main">
    <app-sidebar id="sidebar" *ngIf="showSidebar"></app-sidebar>
    <app-to-do-list id="content"></app-to-do-list>
  </div>
</div>
