<button (click)="toggleOverlay()"
        hidden
        id="overlayToggle">O
</button>
<app-list-menu (listCreated)="addList(menuList)"
               (listEditCanceled)="cancelListEdit(menuList)"
               (listEditConfirmed)="editList(menuList)"
               *ngIf="showListMenu"
               [list]="menuList"
               id="listMenu"></app-list-menu>
<div [class.blur]="showOverlay"
     [class.overlay]="showOverlay"
     id="overlay">
  <div id="header">
    <div id="topContainer">
      <div id="logo">Listom</div>
      <div *ngIf="windowWidth >= 350"
           id="slogan">Leader in customizable to do lists
      </div>
    </div>
  </div>
  <div id="main">
    <app-list-overview (listSelected)="selectList($event)"
                       (newListMenuOpened)="openNewMenuList()"
                       [lists]="lists" [selectedList]="shownList"
                       id="listOverview"></app-list-overview>
    <app-to-do-list (compactModeToggled)="toggleCompactMode()"
                    (itemCreated)="createItem($event)"
                    (listConfigOpened)="configureList($event)"
                    (itemDeleted)="deleteItem($event)"
                    (paramValueUpdated)="updateParamValue($event)"
                    *ngIf="lists[shownList] !== undefined && lists[shownList] !== null; else listHidden"
                    [compactMode]="compactMode"
                    [list]="lists[shownList]"
                    id="content"></app-to-do-list>
    <ng-template #listHidden>
      <div *ngIf="lists.length > 0"
           id="noListSelectedIndicator">Please select a list
      </div>
    </ng-template>
  </div>
</div>
