@import "variables";

@font-face {
  font-family: $font-title;
  src: url("assets/fonts/architext/Architex.ttf");
}

* {
  color: $logo-color;
  font-family: $font-main;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: $main-bg;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sort-header-container {
  justify-content: center;
}

html,
body,
app-root {
  //height: calc(100vh - 25px);
  //overflow: hidden;
}

app-root {
  //display: block;
  //height: 100%;
}

html,
body {
  //height: 100%;
}

.button {
  cursor: pointer;
}

input[type = text]{
  background-color: $odd-bg;
  border: $button-bg solid 2px;
  font-family: $font-main;
  user-select: text;
}

table {
  border-collapse: collapse;

  thead {
    background-color: $slogan-color;
  }

  thead,
  tbody {
    border: 2px solid $logo-color;
  }

  tbody {
    tr {

    }
  }

  .oddCol,
  .oddRow {
    background-color: $odd-bg;
  }

  .evenCol,
  .evenRow {
    background-color: $even-bg;
  }
}
