$main-bg: #eda;
$menu-bg: #eb78;
$card-color: #eb7;
$even-bg: #fff1;
$odd-bg: #0001;
$line-color: #6536;
$slogan-color: #b38c59;
$button-bg: $slogan-color;
$logo-color: #653;
$blur: blur(4px);
$done-color: #4c4;
$done-bg:#4f47
