$blur: blur(4px);
$button-bg: #b38c59;
$card-color: #eb7;
$done-bg: #4f47;
$done-color: #4c4;
$font-main: fantasy;
$font-title: Architext, fantasy;
$line-color: #6536;
$logo-color: #653;
$main-bg: #eda;
$menu-bg: #eb78;
$even-bg: #fff1;
$height-compact: 28px;
$height-expanded: 100px;
$odd-bg: #0001;
$slogan-color: $button-bg;
